* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: url(../img/bgRep.avif);
}
header {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    font-weight: 300;
    li {
      text-decoration: none;
      list-style: none;
    }
  }
  button {
    border: none;
    padding: 7px 20px 7px 20px;
    color: white;
    background-color: #00acac;
    border-radius: 20px;

    i {
      color: black;
      margin-right: 10px;
    }
  }
}
main {
  width: 80%;
  margin: auto;
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
}
.todo-cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  gap: 30px;

  .to-do {
    /* width: 33%; */
    .title-to-do {
      border-radius: 10px;

      h2 {
        font-size: 24px;
        margin-left: 20px;
        background-color: rgba(62, 58, 58, 0.601);
        color: white;
      }
    }
  }

  .in-progress {
    /* width: 33%; */
    .title-in-progress {
      border-radius: 10px;

      h2 {
        font-size: 24px;
        margin-left: 20px;
        background-color: rgba(62, 58, 58, 0.601);
        color: white;
      }
    }
  }
  .done {
    /* width: 33%; */
    .title-done {
      border-radius: 10px;

      h2 {
        font-size: 24px;
        margin-left: 20px;
        background-color: rgba(62, 58, 58, 0.601);
        color: white;
      }
    }
  }
}
.card {
  margin-top: 20px;
  border: solid 2px rgba(128, 128, 128, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.card:hover {
  background-color: rgb(235, 237, 236);
}
.paragraph-card p {
  color: rgba(0, 0, 0, 0.819);
  font-size: 14px;
  font-weight: 200;
  padding-top: 6px;
  padding-bottom: 6px;
}
.icon-container {
  margin-right: 15px;
  font-size: 20px;
  padding: 3px;

  text-align: center;
  border: solid 3px #34ac83;
  border-radius: 50%;
  color: #34ac83;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 1.2em;

  font-weight: bold;
  margin-bottom: 2px;
  color: #343a40;
}

.details {
  font-size: 0.9em;
  color: #6c757d;
}

.High {
  background-color: #348fe2;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}
.bug {
  background-color: #dee2e6;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
  color: black;
}

form label {
  font-size: 1.2em;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

form input {
  font-size: 1.2em;
}
.section-popup {
  display: none;
}
.section-popup2 {
  display: none;
}
.card {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}
/* .cards-3{
  margin: 20px;
  background-color: red;
} */
@media (max-width: 1024px) {
  .todo-cards {
    display: grid;
    grid-template-columns: auto;
  }

}

.s-btn {
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
  display: none;
}
.low {
  background-color: rgb(66, 230, 112);
}
.Medium {
  background-color: rgb(235, 228, 35);
}

.high {
  background-color: #db562d;
}

.critical {
  background-color: #000;
  color: #fff;
}

.show-priority {
  display: inline;
}

.hide{
  display: none;
}